<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Courtney — The HP Tracking Discord Bot</title>
    <meta name="description" content="Courtney! An HP tracker bot for Discord. Keep track of your character's HP easily on your next D&D session!">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/6c33b7d1-845a-40b8-a161-aa91ea03b579%2FICON.png?1538727260231" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="home">
		<img src="https://cdn.glitch.com/6c33b7d1-845a-40b8-a161-aa91ea03b579%2FPORTRAIT.png?1542147021136" height="400" width="400"/>
		<h1>Courtney</h1><h2>an HP Tracking Discord Bot.</h2>
		<button onclick="document.location.href='/invite'">Invite!</button>
		<div id="home_menu">
			<button onclick="document.location.href='/about';">About</button>
			<button onclick="document.location.href='/quickstart';">Quickstart Guide</button>
			<button onclick="document.location.href='/commands';">Commands</button>
		</div>
	</div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
